.navbar-brand{
    margin: 8%;
    font-weight: bold;
    padding-right: 70%;
}
.navbar-nav{
    padding: 10px;
    margin: 5px;
    padding-left: 50%;
}
.main{
 padding: 40px;
 margin: 40px;
}

.main > h1{
    padding-left: 3%;
    color: green;

}
.main>p{
    padding-left: 3%;

}
.main .button{
    justify-content: center;
    background-color: green;
}
.div > h3{
   color: yellow;
   padding: 10px;
   margin: 5%;
   justify-content: center;
}
.div .button{
   background-color:green;
}